/*
    src/home/home.scss
    --
    Styles for Home component.

    Written by NORXND
    (C) NORXND 2022
*/

.home_container {
    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;

    padding: 0 var(--bs-gutter-x, 0.75rem);

    background-color: var(--color-foreground);
    border-radius: 0.3rem;

    width: 50%;

    @media all and (max-width: 768px) {
        width: 85%;
    }

    @media all and (max-width: 576px) {
        width: 95%;
    }
}

.home {
    padding: 1vw;
    min-height: 50vh;
}

.home_welcome_title {
    font-weight: 600;
    margin-bottom: 0;
    margin-left: -0.5rem;

    color: var(--bs-primary);
}

.home_link {
    text-decoration: underline;
}
