@charset "utf-8";
/*
    src/main.scss
    --
    Main SCSS file containing Boostrap, defining colors, fonts etc.

    Written by NORXND
    (C) NORXND 2022
*/
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,500;0,600;1,200;1,300;1,500;1,600&display=swap");

/* Boostrap */
@import "bootstrap/scss/functions";

/* Colors */
$cyber-yellow: #ffd300;
$eerie-black: #181818;
$rich-black-fogra-39: #0d0d0d;
$white: #ffffff;
$platinum: #e6e6e6;

/* Boostrap Override */

/* Font */
$font-family-sans-serif: "Jost";
$font-weight-base: 300;

/* Body */
$body-bg: $rich-black-fogra-39;
$body-color: $white;

/* Links */
$link-color: var(--bs-body-color);
$link-hover-color: $cyber-yellow;
$link-decoration: none;
$link-hover-decoration: none;

/* Remove unneeded things */
$colors: ();

$grays: ();

/* Set custom theme colors */
$theme-colors: (
    "primary": $cyber-yellow,
    "dark": $eerie-black,
    "black": $rich-black-fogra-39,
    "white": $white,
    "darker-white": $platinum,
);

@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";

@import "bootstrap/scss/grid";
@import "bootstrap/scss/list-group";

/* Make <body> flexbox */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Add transition to <a> */
a {
    color: var(--bs-body-color); // We need to make it like that or else light theme will fuck up
    transition: 0.2s;
}

/* Themes */
._dark_theme {
    --bs-body-bg: #0d0d0d;
    --bs-body-color: #ffffff;
    --color-foreground: #181818;

    --color-list-background: #2b2b2b;
    --color-list-border: rgba(0, 0, 0, 0.125);
}

._light_theme {
    --bs-body-bg: #ffffff;
    --bs-body-color: #0d0d0d;
    --color-foreground: #e6e6e6;

    --color-list-background: #cccccc;
    --color-list-border: rgba(255, 255, 255, 0.125);
}

/* Main */
.app {
    display: flex;

    margin-top: auto;
    margin-bottom: auto;
}

/* Loading */
@keyframes loading_anim {
    to {
        transform: rotate(360deg) #{"/* rtl:ignore */"};
    }
}

.loading {
    display: inline-block;
    margin: auto;
    width: 4rem !important;
    height: 4rem !important;
    border: 0.4em solid #ffd300;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: 0.75s linear infinite loading_anim;
    animation: 0.75s linear infinite loading_anim;
}
